.navbar-pronto {
  display: flex;
  padding-left: 2vw;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  width: 100%;
}

.heading-item {
  color: black;
  margin-right: 10%;
  text-decoration: none;
}

.heading-item:hover {
  text-decoration: underline;
}